.center-display-container {
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
}
.progress-ring-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.merge-video {
    width: 80%;
    height: auto;
    display: block;
    margin: auto;
    opacity: 0;
    animation: fadeIn 0.8s ease forwards;
    animation-delay: 0s;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.center-display-container.full-video {
    width: 100%;
    max-width: 600px;
    height: auto;

}

.fade-out {
    opacity: 0;
    transition: opacity 0.6s ease;
    pointer-events: none;
}




