.progress-ring-container {
    z-index: 1;
    position: relative;
    width: 80px;
    height: 80px;
    margin: 0 auto 1rem;
}

.progress-ring {
    transition: stroke-dashoffset 0.5s ease;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}

.progress-ring-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 600;
}
